appdirs==1.4.4
Appium-Python-Client==1.1.0
attrs==21.2.0
backports.cached-property==1.0.1
certifi==2020.12.5
chardet==4.0.0
coverage==5.5
cycler==0.10.0
decorator==5.0.7
distlib==0.3.1
docutils==0.17.1
filelock==3.0.12
grpcio==1.37.1
grpcio-tools==1.37.1
idna==2.10
importlib-metadata==4.0.1
joblib==1.0.1
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
jsonschema==3.2.0
kitchen==1.2.6
kiwisolver==1.3.1
matplotlib==3.4.2
numpy==1.20.3
opencv-python==4.5.2.52
overrides==6.1.0
pbr==5.6.0
Pillow==8.2.0
pluggy==0.13.1
ply==3.11
protobuf==3.17.0
psutil==5.8.0
py==1.10.0
Pygments==2.9.0
pyocr==0.8
pyparsing==2.4.7
Pypubsub==4.0.3
pyrsistent==0.17.3
pytesseract==0.3.7
python-dateutil==2.8.1
requests==2.25.1
robotframework==4.0.1
robotframework-appiumlibrary==1.6.1
robotframework-assertion-engine==0.0.6
robotframework-browser==4.5.2
robotframework-jsonlibrary==0.3.1
robotframework-ocrlibrary==1.2.0
robotframework-pythonlibcore==2.2.1
robotframework-requests==0.9.1
robotframework-ride==2.0b1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==5.1.3
scikit-learn==0.24.2
scipy==1.6.3
selenium==3.141.0
six==1.16.0
threadpoolctl==2.1.0
tox==3.0.0
typing-extensions==3.10.0.0
typing-utils==0.0.3
urllib3==1.26.4
virtualenv==20.4.6
wrapt==1.12.1
wxPython==4.1.1
zipp==3.4.1
